.news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
  }
  
  .news-card {
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
  }
  
  .news-card:hover {
    transform: scale(1.05);
  }
  
  .news-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }
  
  .placeholder-image {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    color: #757575;
    font-size: 14px;
    border-radius: 8px 8px 0 0;
  }
  
  .news-title {
    font-size: 1rem;
    font-weight: bold;
    margin: 4px 0;
  }
  
  .news-source {
    font-size: 0.875rem;
    color: #757575;
  }
  
  .news-description {
    margin-bottom: 8px ;
    font-size: 0.875rem;
    color: #444;
  }

  